body {
  background: #000;
  color: #fff;
}
/* column wise on mobile */


.video-container h2 {
  font-family: serif;
}

.video-container.loading > .loader {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.video-container > .loader {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #000;
}

/* side by side on desktop  */
@media screen and (min-width: 900px) {
  .video-container {
    flex-direction: row;
  }
}

.input_video {
  width: 100%;
  height: auto;
  display: none;
}

.output_canvas {
  width: 100%;
  height: auto;
  transform: scaleX(-1);  
}


.glasses_choose_container{
  height:100px;
  background:white;
  position: fixed;
  bottom: 50px;
  left:30%;
  right:30%;
  display: flex;
  justify-content: left;
  gap:50px;
  align-items: center;
  overflow: auto;
}
.glass_one{
  height:30px;
  width:30px;
  background:black;
  border-radius: 50%;
  flex-shrink: 0;
}